
<%= image_tag post.foto, class:"w-100" if post.foto.attached? %>
<div class="box-post-content bg-white p-5 text-center">
  <p class="pt-3 small"><a href="#" class="text-main text-uppercase">Travel</a></p>
  <h4 class="pt-2 pb-2 text-uppercase"><%= post.title %></h4>
  <!-- Muestra solo el primer párrafo del texto del post en el index -->
  <p class="text-dark"><%= post.legend.split("\n").first %></p>
  <%= link_to "Continue Reading", post, class: "btn btn-outline-main text-uppercase mt-4 mb-4" %>
  <hr>
  <div class="row text-secondary small">
    <div class="col text-left">
      <p>By <%= post.user.username %> On <%= post.created_at.strftime("%B %d, %Y") %></p>
    </div>
    <div class="col text-right">
      <p><i class="far fa-comment pr-2"></i> <%= post.comments.size %> Comments</p>
    </div>
  </div>
</div>